<template name="dashboard">

    <body style="background:#2f3640;color:white">
        <div class="container">
            <h1>Dashboard</h1>

            <div class="row">
                <div class="col-md-6">
                    {{> highchartsHelper chartId="activedocuments" chartWidth="100%" charHeight="100%" chartObject=activedocuments}}
                </div>
                <div class="col-md-6">
                    {{> highchartsHelper chartId="documentsbyyear" chartWidth="100%" charHeight="100%" chartObject=documentsbyyear}}
                </div>
            </div>
        </div>
    </body>
</template>