<head>
  <title>Documents</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
{{> navigation}}

</body>


<template name="navigation">
    <ul>
        <li><a href="{{pathFor route='dashboard'}}">Dashboard</a></li>
        <li><a href="{{pathFor route='new'}}">New</a></li>
        <li><a href="/y/2015">Year 2015</a></li>
        <li><a href="/y/2016">Year 2016</a></li>
    </ul>
</template>
