body {
  padding: 10px;
  font-family: sans-serif;
  background: #2f3640 !important;
  color: white;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: white !important;
}

h1{
color:white;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  color:white;
}