<template name="new">

  <body>
    <div class="container">
      <h1>New</h1>

      <form id="new">

        <div class="form-group">
          <label for="control">Active Date</label>
          <input type="text" class="form-control" name="frm_active_date"  id="frm_active_date"
          placeholder="yyyy/mm/dd" required>
        </div>

        <div class="form-group">
            <label for="frm_expiry_date">Expiry Date</label>
            <input type="text" class="form-control" name="frm_expiry_date" id="frm_expiry_date"
            placeholder="yyyy/mm/dd" required>
          </div>

        <div class="form-group">
          <label for="frm_active">Active</label>
          <select class="form-control" name="frm_active" id="frm_active" required>
              <option value="" disabled selected>Choose your option</option>
            <option value="y">Yes</option>
            <option value="n">No</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Create New</button>
      </form>

    </div>
  </body>
</template>