<template name="y">

    <body>
        <div class="container">
            <h1>Year {{year}}</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Active Date</th>
                        <th scope="col">Expiry Date</th>
                    </tr>
                </thead>
                <tbody>
                {{#each list}}
                <tr>
                    <th scope="row" >{{active}}</th>
                    <td>{{active_date}}</td>
                    <td>{{expiry_date}}</td>
                </tr>
                {{/each}}
            </tbody>
            </table>
        </div>
    </body>
</template>